<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>Welcome to KM-Blog! By using this website, you agree to abide by the following terms and conditions. We reserve the right to modify these terms at any time, and continued use of the site implies acceptance of any changes. You are responsible for any content you post, and KM-Blog holds the right to remove inappropriate material. </p>
            <p>Users must respect intellectual property, privacy, and the rights of others while engaging with the platform. Any content published on the site, including posts and comments, remains the responsibility of the author. KM-Blog disclaims any liability for damages caused by site usage, and access may be terminated at our discretion if terms are violated. </p>
            <p>This website may contain links to third-party sites, for which KM-Blog holds no responsibility. The content of KM-Blog is protected under intellectual property laws and cannot be used without permission.</p>
            <p> By accessing the site, you agree to our Privacy Policy, which governs the collection and use of your information.</p>

            <div class="text-center">
                  <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>