<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>At KM-Blog, we are passionate about sharing knowledge, inspiration, and insights across a variety of topics such as Design, Inspiration, Sports, Politics, and more. Our mission is to create a vibrant community where ideas flow freely, and everyone can express their thoughts, learn something new, and stay informed about current trends.</p>
            <p>Inspiration & Motivation: We believe in the power of stories and experiences to inspire change. Our Inspiration section is dedicated to uplifting content that sparks creativity and action.</p>
            <p>Trending Topics: Stay up-to-date with the latest in politics, sports, design, and much more. Our team keeps you informed with fresh perspectives on topics that matter.</p>
            <p>Engaging Community: We encourage our readers to comment, share their ideas, and be part of discussions that matter.</p>

            <div class="text-center">
                  <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>