<app-header></app-header> 
<app-category-navbar></app-category-navbar>
<div class="app-body">
  <router-outlet></router-outlet>
</div>

   <app-single-category></app-single-category>

    <app-single-posts></app-single-posts>
     <app-aboutt-us></app-aboutt-us>
     <app-terms-and-condition></app-terms-and-condition>
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <app-subscription-form></app-subscription-form>
  </div>
</div>


<app-footer></app-footer>
