<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                  <h2 class="text-white"> Featured Posts</h2>
                  <p class="text-white"> Every year, World Nature Conservation Day is observed globally to emphasize the importance of preserving natural resources and protecting the environment.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
             <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>


<section class="container mt-5 ">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>
            News & Press Releases
            Ministry of Coal to Host Star Rating Awards Ceremony, Stakeholder Consultation on MDOs, and Release of Coal Directory on October 21, 2024</p>
    </div>
  
  
    <div class="row">
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
    </div>

</section>